.Page {
  position: relative;
}

.Page--editor {
  &:first-child {
    .Page__Name {
      border-bottom: none;
    }
  }
  .Page__Name {
    position: absolute;
    width: 100%;
    border-bottom: 1px dashed #eee;
    padding-left: .5rem;
    margin-top: -2rem;
    line-height: 2rem;
  }
  .Page__Paper {
    padding-bottom: 3.5rem;
  }
  &:last-child {
    .Page__Paper {
      padding-bottom: 2rem;
    }
  }
}
.Page--preview {
  .Page__Name {
    display: none;
  }
}

.Page--print-layout {
  margin-top: 3rem;
  .Page__Paper {
    min-height: 950px;
  }
}
.Page--print-layout.Page--preview {
  margin-top: 1.5rem;
}


.Page__Name {}

.Page__NameIcon {
  font-size: .75rem;
  padding-left: .5rem;
}

.Page__Paper {
  background: white;
  box-shadow: 0px 2px 3px rgba(0,0,0,.1);
  padding: 2rem;
}