// Colors
$blue:    #3b5eb6;
$purple:  #bf25e5;
$pink:    #f058a3;
$red:     #f66051;
$orange:  #e58825;
$green:   #7baf22;
$teal:    #4acbb7;
$cyan:    #22c0d7;

$primary: $red;

$theme-colors: (
  "primary": $red,
);

// Typography
$font-family-sans-serif: "Niramit", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;