@import './resources/assets/sass/variables';

.grid-item {}

.grid-item-custom-section {
  position: relative;
}

.grid-item-thumb {
  text-align: center;
}

.grid-item-thumb .fa-file-alt {
  font-size: 7rem;
  line-height: 16rem;
  color: $gray-200;
}

.grid-item-dropdown {
  position: absolute;
  top: 0;
  right: 0;
}

.grid-item-dropdown .fa-ellipsis-v {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: $primary;
}

.grid-item-toggle {
  border-radius: 2.5rem !important;
  width: 2.5rem;
  height: 2.5rem;
  &:hover {
    background: $gray-100;
  }
  &:active,
  &:focus {
    background: $primary;
  }
  &:active i,
  &:focus i {
    color: $white;
  }
}

.grid-item-title {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}