@import './resources/assets/sass/variables';

.list-item {}

.list-item-thumb {
  position: relative;
  text-align: center;
}

.list-item-thumb .fa-ellipsis-v {
  font-size: 1.5rem;
  line-height: 2rem;
  color: $primary;
}

.list-item-dropdown {
  position: absolute;
  top: 0;
  right: 0;
}

.list-item-toggle {
  border-radius: 3rem !important;
  width: 3rem;
  height: 3rem;
  &:hover {
    background: $gray-100;
  }
  &:active,
  &:focus {
    background: $primary;
  }
  &:active i,
  &:focus i {
    color: $white;
  }
}